* {
  --background-color: #B9D6F2;
  --color: #003559;
}

.box {
  box-sizing: border-box;
  background: radial-gradient(circle, var(--background-color) 0%, rgba(0, 0, 0, 0) 90%);
  opacity: 15%;
  transition: opacity .5s;
  border: none;
  display: flex;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--color);
}

.box:not(:disabled) {
  cursor: pointer;  
}

.box:hover:not(:disabled) {
  opacity: 100%;
}

.symbol {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
}
  
.top, .bottom {
  width: 80vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}
  
.left, .right {
  width: 100px;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.top {
  border-radius: 50% / 0 0 100% 100%;
}

.bottom {
  border-radius: 50% / 100% 100% 0 0;
}

.left {
  border-radius: 0 100% 100% 0 / 50%;
}

.right {
  border-radius: 100% 0 0 100% / 50%;
}
